<section class="advantages block">
   <div class="wrapper">
      <h2 class="title advantages__title">
         Helmion - мощная чистка организма&nbsp;<br />
         от паразитов <span class="jade">3 в 1</span>
      </h2>
      <ul class="advantages__list">
         <li class="item"><span class="font-bold">Выводит все виды</span>
            паразитов&nbsp;<br> и&nbsp;их яйца</li>
         <li class="item"><span class="font-bold">Укрепляет иммунитет</span> и&nbsp;восстанавливает поврежденный
            паразитами организм </li>
         <li class="item"><span class="font-bold">Создает защиту</span> от повторных заражений </li>
      </ul>
      <div class="advantages__result">
         Только комплексное воздействие<br> очистит организм от паразитов!
      </div>
      <div class="center"><button type="submit" class="btn">Заказать</button></div>
   </div>
</section>