<section class="components block">
   <div class="wrapper">
      <h2 class="title components__title"><span class="jade">Helmion</span> избавляет от всех<br> видов паразитов</h2>
      <p class="components__desc">благодаря уникальной растительной формуле</p>
      <div class="components__content">
         <div class="item">
            <div class="img-wrap">
               <img src="img/comp1.png" alt="photo" class="item__img item__img--1">
               <img src="img/comp2.png" alt="photo" class="item__img item__img--2">
               <img src="img/comp3.png" alt="photo" class="item__img item__img--3">
            </div>
            <h4 class="item__ttl">Маллотус филиппинский,<br>
               эмбелия смородиновая,<br>
               кора горького олеандра
               <i class="fico fico-arrow_down"></i>
            </h4>

            <p class="item__result">уничтожают все виды<br>паразитов и их яйца</p>
         </div>
         <div class="item">
            <div class="img-wrap">
               <img src="img/comp4.png" alt="photo" class="item__img item__img--1">
               <img src="img/comp5.png" alt="photo" class="item__img item__img--2">
               <img src="img/comp6.png" alt="photo" class="item__img item__img--3">
            </div>
            <h4 class="item__ttl">Сыть круглая, сок граната,<br> кассия трубчатая
               <i class="fico fico-arrow_down"></i>
            </h4>
            <p class="item__result">восстанавливают иммунитет<br>и заживляют поврежденные<br>паразитами
               органы</p>
         </div>
         <div class="item">
            <div class="img-wrap">
               <img src="img/comp7.png" alt="photo" class="item__img item__img--1">
               <img src="img/comp8.png" alt="photo" class="item__img item__img--2">
               <img src="img/comp9.png" alt="photo" class="item__img item__img--3">
            </div>
            <h4 class="item__ttl">Гардения широколистная,<br>
               корни одуванчика,<br> пижма
               <i class="fico fico-arrow_down"></i>
            </h4>
            <p class="item__result">создают устойчивость<br>организма от повторного<br>заражения</p>
         </div>
      </div>
   </div>
</section>