<section class="how-to-use block">
   <div class="wrapper">
      <h2 class="title how-to-use__title">Способ применения</h2>
      <div class="how-to-use__content">
         <div class="item">
            <img src="img/item-1.jpg" alt="img" class="item__img">
            <p class="item__text">Разбавить гель в стакане воды или выпить<br>в чистом виде</p>
         </div>
         <div class="item">
            <img src="img/item-2.jpg" alt="img" class="item__img">
            <p class="item__text">Принимать 2 раза<br>в день</p>
         </div>
         <div class="item">
            <img src="img/item-3.jpg" alt="img" class="item__img">
            <p class="item__text">Рекомендуемый курс:<br>30 дней</p>
         </div>
      </div>
   </div>
</section>