<section class="infection block">
   <div class="wrapper">
      <h2 class="title infection__title">Заражение паразитами приводит к&nbsp;сбою работы организма</h2>
      <div class="infection__content">
         <div class="item">
            <img src="img/infection-1.png" alt="img" class="item__img">
            <div class="item__desc">
               <h4 class="ttl">Ослабление иммунитета</h4>
               <p class="text">вы простужаетесь всё чаще</p>
            </div>
         </div>
         <div class="item">
            <img src="img/infection-2.png" alt="img" class="item__img">
            <div class="item__desc">
               <h4 class="ttl">Расстройство ЖКТ</h4>
               <p class="text">гельминты разрушают стенки кишечника, у вас появляется вздутие и запоры</p>
            </div>
         </div>
         <div class="item">
            <img src="img/infection-3.png" alt="img" class="item__img">
            <div class="item__desc">
               <h4 class="ttl">Сбой нервной системы</h4>
               <p class="text">вы часто раздражаетесь<br> из-за отравления токсинами паразитов</p>
            </div>
         </div>
         <div class="item">
            <img src="img/infection-4.png" alt="img" class="item__img">
            <div class="item__desc">
               <h4 class="ttl">Обострение всех<br> хронических болезней</h4>
               <p class="text">ослабленный паразитами организм неуклонно разрушается </p>
            </div>
         </div>
         <div class="item">
            <img src="img/infection-5.png" alt="img" class="item__img">
            <div class="item__desc">
               <h4 class="ttl">Нарушение работы печени</h4>
               <p class="text">печень “забивается” токсинами, на теле могут возникать высыпания</p>
            </div>
         </div>
      </div>
      <div class="infection__result">
         Заражение приводит к аллергиям, псориазу, болезням или отказу каждого пораженного органа и&nbsp;даже смерти
      </div>
   </div>
</section>