<section class="reviews block" id="reviews">
   <div class="wrapper">
      <h2 class="title reviews__title">Отзывы</h2>
      <div class="reviews__slider">
         <div class="slide">
            <img src="img/slide-1.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Александра, 48 лет</span>
            <p class="slide__text">Я купила его для щенка, которого недавно взяла с улицы. Он был<br>
               какой-то&nbsp;хиленький и
               слабенький, возможно предыдущие хозяева с ним плохо обращались. После курса комплекса Anitox он стал
               намного жизнерадостнее.<br>Сейчас носится по двору. </p>
         </div>
         <div class="slide">
            <img src="img/slide-2.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Ольга, 28 лет</span>
            <p class="slide__text">Когда кошка начала гулять во дворе и&nbsp;стала вялой, мы решили пролечить
               её&nbsp;органическим препаратом Anitox. Наша котя пролечилась, быстро пришла в себя, теперь ещё больше
               муркает,
               шерсть стала меньше выпадать, мне кажется, она теперь ещё здоровее себя чувствует, чем до заражения.
            </p>
         </div>
         <div class="slide">
            <img src="img/slide-3.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Константин, 37 лет</span>
            <p class="slide__text">Когда решил делать псу профилактику от глистов выбрал Анитокс. Мне&nbsp;понравилось,
               что
               это по сути витаминный комплекс + противогельминтное два в одном. Арчи пропил курс, и теперь кажется
               даже оздоровился. Шерсть стала более блестящей, и сам он бодрее&nbsp;стал.
            </p>
         </div>
         <div class="slide">
            <img src="img/slide-4.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Мария, 42 года</span>
            <p class="slide__text">У меня душа очень чуткая и Барсика своего котика любимого люблю баловать. Я его и
               курочкой угощаю, и&nbsp;говядиной, рыбкой. Вот видно рыбку ему и не надо было давать потому,
               что&nbsp;глисты у
               него в лотке нашла. Позвонила Кате, сестре - она у меня ветеринар. Катя мне Анитокс и&nbsp;посоветовала.
               Купила его. Стала давать котенку, наблюдаю за ним и&nbsp;уже через три дня лоток у него чистый! Никаких
               глистов и активный он и&nbsp;энергичный.
            </p>
         </div>
         <div class="slide">
            <img src="img/slide-5.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Владимир, 39 лет
            </span>
            <p class="slide__text">Я уезжал на неделю в командировку. Своего Кузю, французского бульдожку, доверил
               друзьям. Перед отъездом попросил следить за Кузей во время прогулок. Он у меня любит дрянь всякую
               подбирать и есть. Ну, видимо и&nbsp;не уследили, потому что вернулся, а он по полу ерзает. Повезло, что
               я
               заранее Анитокс покупал. Думал вернуться и&nbsp;профилактику ему сделать от глистов. Вот анитоксом
               глисты ему
               и выводил. За одну неделю Кузька у меня по полу ерзать перестал.
            </p>
         </div>
         <div class="slide">
            <img src="img/slide-6.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Валерия, 25 лет
            </span>
            <p class="slide__text">О том, что наш котейка заражен узнали случайно. Он каким-то вялым стал, шерст
               выпадала, повели его к&nbsp;ветеренару - тот сказала, что дело в&nbsp;паразитах. Мне аж так стыдно перед
               ветеренаром было. Быстренько приобрели
               Анитокс, пролечили. Пошли потом на повторный прием к&nbsp;ветеринару - сказал, что всё позади, и
               похвалил
               нас, что мы Анитокс выбрали, потому что он в бонус ещё и&nbsp;здоровье в целом котику укрепил.
            </p>
         </div>
         <div class="slide">
            <img src="img/slide-7.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Владимир, 46 лет
            </span>
            <p class="slide__text">Интересное средство. Не знал, что животному можно одновременно выводить и глистов, и
               оздоравливать его. Купили щенку, которого подобрали на улице. Пропил он курс, благоприятно повлиял,
               щенок теперь так часто не скулит - наверно и правда у него там что-то жило.
            </p>
         </div>
      </div>
   </div>
</section>