<section class="reviews block" id="reviews">
   <div class="wrapper">
      <h2 class="title reviews__title">Отзывы</h2>
      <div class="reviews__slider">
         <div class="slide">
            <img src="img/slide-1.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Мария Колесникова</span>
            <p class="slide__text">Мои часто простужаются, хоть я их и оздоравливаю всячески: фрукты покупаю, на море
               ездим каждое лето… А потом моя знакомая врач порекомендовала сделать всей семьей профилактическую
               очистку от паразитов. Взяли для этого Хельмион, так как не доверяем препаратам не растительного
               происхождения. И вот, дети перестали так часто болеть. Думаю, у них таки были глисты, просто симптомы
               ярко не проявлялись.</p>
         </div>
         <div class="slide">
            <img src="img/slide-2.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Елена Головина</span>
            <p class="slide__text">После чистки организма Хельмионом - как будто помолодела. Мало устаю и больше за
               день успеваю сделать. И на внешности это тоже сказалось. Волосы, ногти, кожа – все стало моложе и
               здоровее. Приятненько так, даже муж заметил изменения.
            </p>
         </div>
         <div class="slide">
            <img src="img/slide-3.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Арсен Ничепоренко</span>
            <p class="slide__text">Живем с женой в частном доме и весной завели кота. Кот дома не сидит, гуляет во
               дворе. И мы только первую неделю мыли ему лапы, когда он заходил в дом. А потом забили. Так он принес
               нам глистов. Чистились с Хельмионом - нашли его в интернете. Эффект ощутимый, организм стал крепче, у
               меня боли в животе прошли, у жены - высыпаний больше нет.
            </p>
         </div>
         <div class="slide">
            <img src="img/slide-4.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Нина Палиенко
            </span>
            <p class="slide__text">Прям почувствовала, как организм начал вычищаться с этим Хельмионом. Вздутие
               постоянное прекратилось, а то меня живот вздувался, ходила как беременная. Стул теперь нормальный и
               регулярный. А ещё меня перестало тянуть на сладкое. Читала где-то, что это от паразитов в организме
               такое может быть - мол это они как бы сладкое требуют в организме и приходится им объедаться. В общем, я
               очень довольна, теперь хоть ожила по-человечески.
            </p>
         </div>
         <div class="slide">
            <img src="img/slide-5.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Оксана Данилюк
            </span>
            <p class="slide__text">Спасибо большое производителям. У меня с этим хельмионом почистилась кожа хорошо, и
               запах неприятных изо рта прошел.
            </p>
         </div>
         <div class="slide">
            <img src="img/slide-6.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Виктория Белосветова
            </span>
            <p class="slide__text">О том, что у ребенка паразиты, я узнала случайно. Просто проходили медосмотр,
               стандартно сдавали кровь, мочу и кал, и в анализах обнаружили гельминтов.
               Я перепугалась конкретно. Полезла в интернет и начиталась там ужасов, как из людей червей достают. Тогда
               по рекомендации врача я быстренько купила Хельмион по интернету и начали пить. На всякий случай всей
               семьей пили, результат порадовал. Потом через пару недель сдавали анализы - и ничего уже не обнаружили.
            </p>
         </div>
         <div class="slide">
            <img src="img/slide-7.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Александр Сидоренко
            </span>
            <p class="slide__text">Препарат пришел быстро, пропил весь курс, организму и правда легче.
            </p>
         </div>
         <div class="slide">
            <img src="img/slide-8.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Рената Сараева
            </span>
            <p class="slide__text">Бабушка моя настаивала, чтобы я полынь пила раз в полгода. А мне противно, оно
               горькое такое, да и сомневаюсь, что оно там реально что-то чистит. Когда съехались с парнем, начали пить
               Хельмион. Раз в год чистимся, и нормально, не болеем, и со здоровьем всё классно.
            </p>
         </div>
         <div class="slide">
            <img src="img/slide-9.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Галина Петренко
            </span>
            <p class="slide__text">Пила его, думала, что восстановлю кишечник и похудею. Но не подействовало оно так(
            </p>
         </div>
         <div class="slide">
            <img src="img/slide-10.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Николай Волошин
            </span>
            <p class="slide__text">Всё отлично, мне помогло, спасибо.
            </p>
         </div>
         <div class="slide">
            <img src="img/slide-11.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Людмила Федорова
            </span>
            <p class="slide__text">Хельмион мне порекомендовал врач как качественную альтернативу аптечным препаратам.
               Паразиты ушли, прям чувствую, как в животе теперь стало легче)) но не понравилось, что нужно целый курс
               пить, хотелось бы что-то такое, чтобы за раз от паразитов избавило.
            </p>
         </div>
         <div class="slide">
            <img src="img/slide-12.jpg" alt="photo" class="slide__photo">
            <span class="slide__name">Дарина Николаева
            </span>
            <p class="slide__text">Дерматолог мне сказала, что высыпания у меня из-за паразитов скорее всего.
               Почистилась с этим препаратом, и кожа стала почти идеальной, меньше потеет и бяка всякая не вылазит. Да
               и чувствую, как организм в целом здоровее стал.
            </p>
         </div>
      </div>
   </div>
</section>